@import "../variables.scss";

.inputField {
  //   position: relative;
  //   label {
  //     position: absolute;
  //   }
  input {
    border-radius: 10px;
    outline: $main-normal;
    border: 1px solid $main-normal;
    width: 100%;
    font-size: 1rem;
    // top: 10px;
    &:hover,
    &:focus {
      box-shadow: 0px 0px 5px $main-normal;
    }
  }
}
